* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

    box-sizing: border-box;
}

body {
    background: black;
    color: white;

}

.header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

.logo {
    width: 150px;
    cursor: pointer;
}

nav button {
    border: 0;
    outline: 0;
    color: white;
    background-color: red;
    margin-left: 10px;
    padding: 10px 22px;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;

}

.language_btn {
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid white;
    padding: 9px 15px;
    color: white;
}

.language_btn img {
    width: 10px;
    margin-left: 10px;

}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-top: 100px;
    transform: translate(-50%, -40%);
}

.header-content h1 {
    font-size: 45px;
    font-weight: 600;
    line-height: 70px;
    max-width: 600;
}

.header-content h3 {
    margin-bottom: 20px ;
   
    font-weight: 400;

}

.header-content p {
    font-size: 15px;
}

.email-signup {
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    overflow: hidden;
    max-width: 600px;
   
}

.email-signup input {

  flex: 1;
  border: 0;
  outline: 0;
    margin-left: 60px;
    padding: 15px 5px;
    color: white;
    

}

::placeholder {
    color: rgb(10, 10, 10);
    font-size: 15px;

}

.email-signup button {
    background: red;
    border: 0;outline: 0;
cursor: pointer;
    color: white;
    font-size: 16px;
    padding: 15px 20px;
}

/* styling for features */
.features {
    padding: 50px 12%;
    font-size: 24px;
}

.text-col h2 {
    font-weight: 600;

}

.row {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;

    padding: 50px 0;
}

.text-col {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.text-col h2 {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    font-size: 50px;

}

.img-col {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-col img {
    display: block;
    width: 90%;
    margin: auto;
}

/* ---------faq---------*/
.faq {
    padding: 1Øpx 12%;
    text-align: center;
    font-size: 18px;
}

.faq h2 {
    font-weight: 600;
    font-size: 40px;
}

.accordion {
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.accordion li {
    list-style: none;
    width: 100%;
    padding: 5px;
}

.accordion li label {
    display: flex;
    align-items: center;
    Padding: 20px 20px;
    font-size: 20px;
    font-weight: 500;
    background: #2f2f2f;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

label::after {
    content: '+';
    font-size: 35px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}

input[type="radio"] {
    display: none;
}

.accordion .content {
    background: #313131;
    text-align: left;
        padding: 0 20px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s, padding 0.5s;
    
    }
    
    .accordion .content p {
        line-height: 25px;
    }
    
    .accordion input[type="radio"]:checked+label+.content {
        max-height: 550px;
        padding: 20px 15px;
    }
    
    .accordion input[type="radio"]:checked+label::after {
        transform: rotate(135deg);
    }
    
    .faq .email-signup {
        max-width: 560px;
        align-items: center;
        margin: 20px auto 60px;
    }
    
    .faq small {
        font-size: 13px;
    }
    
    /*   ------footer---------*/
    .footer {
        padding: 50px 15% 10px;
        border-top: 6px solid #333;
        color: #777;
    }
    
    .footer h2 {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 30px;
    }
    
    .footer .col {
        flex-basis: 25%;
        flex-grow: 1;
        margin-bottom: 20px;
    }
    
    .footer .col a {
        display: block;
        text-decoration: none;
        color: #777;
        font-size: 14px;
        margin-bottom: 15px;
    }
    
    .footer .row {
        align-items: flex-start;
        padding: 10px 0;
    }
    
    /* .footer .language_btn {
        padding: 7px 20px;
        border-radius: 3px;
    } */
    
    .copyright-text {
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 10px;
    
    }
    
    /*--------media query-------------*/
    @media only screen and (max-width:600px) {
        .logo {
            width: 100px;
        }
    
        nav button {
            padding: 2px 5px;
        }
    
        nav .language-btn {
            padding: 3px 5px;
        }
    
        .header-content {
            position: unset;
            transform: none;
            padding-top: 150px;
        }
    
        .header-content h1  {
            font-size: 23px;
        }
        .header-content {
             font-size: 15px;
        }
        .email-signup{
   
        }
        .email-signup input{
            font-size: 15px;
            padding: 8px 2px;
            margin-left: 20px;
        }
        .email-signup button {
            font-size: 10px;
            padding: 0px 25px;
        }
    
        .img-col,.text-col {
            flex-basis: 100%;
        }
    
        .features h2 {
            font-size: 20px;
        }
    
        .features p {
            font-size: 15px;
        }
    
        .row:nth-child(2),.row:nth-child(4) {
            flex-direction: column-reverse;
        }
    
        .features .row {
            padding: 10px 0;
        }
    
        .faq h2 {
            font-size: 20px;
        }
        .faq .email-signup input{
            margin-left: 60px;
            padding: 5px 5px;
        }
        .faq .email-signup button{
            margin-right: 40px;
            padding: 8px 3px;
        }
            .accordion .content {
                font-size: 13px;
            }
            .accordion li label{
                padding: 10px;
                font-size: 13px;
            }
            label::after{
                font-size: 21px;
            }
        }
    